.container-fluid.container-md
  nav(class="navbar navbar-expand-md")
    //- a(class="navbar-brand" href="#") Site Logo
    a(class="navbar-brand" href="/")
      div(class="img-container m-auto")
        img(
          class="img-fluid"
          src=`/images/${about.logo}`
          alt=""
          width="50"
          height="50"
        )
      //- <svg width="48" height="48" version="1.1" viewBox="0 0 26.458 26.458" xmlns="http://www.w3.org/2000/svg" xmlns:osb="http://www.openswatchbook.org/uri/2009/osb" xmlns:xlink="http://www.w3.org/1999/xlink">
      //-   <g transform="translate(-36.64 -130.15)">
      //-     <text transform="scale(1.0803 .92564)" x="39.345348" y="162.3405" fill="#790003" font-family="'Imprint MT Shadow'" font-size="35.402px" letter-spacing="0px" stroke-width=".88506" word-spacing="0px" style="font-feature-settings:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-variant-numeric:normal;line-height:1.25" xml:space="preserve"><tspan x="39.345348" y="162.3405" fill="#790003" stroke-width=".88506">s</tspan></text>
      //-     <path transform="matrix(1.2827 0 0 1.2827 -6.3686 65.927)" d="m52.641 65.743-13.515 3.7966 12.741-2.6944-13.895 2.0001 12.983-1.0084-14.037 0.16935 13.004 0.69488-13.939-1.6643 12.802 2.3863-13.603-3.4695 12.381 4.0369-13.033-5.2153 11.748 5.6183-12.241-6.8719 10.914 7.1037-11.239-8.4109 9.8936 8.4675-10.045-9.806 8.7038 9.6865-8.6796-11.033 7.365 10.74-7.1652-12.072 5.9001 11.609-5.5282-12.904 4.3344 12.28-3.7966-13.515 2.6944 12.741-2.0001-13.895 1.0084 12.983-0.16935-14.037-0.69488 13.004 1.6643-13.939-2.3863 12.802 3.4695-13.603-4.0369 12.381 5.2153-13.033-5.6183 11.748 6.8719-12.241-7.1037 10.914 8.4109-11.239-8.4675 9.8936 9.806-10.045-9.6865 8.7038 11.033-8.6796-10.74 7.365 12.072-7.1652-11.609 5.9001 12.904-5.5282-12.28 4.3344 13.515-3.7966-12.741 2.6944 13.895-2.0001-12.983 1.0084 14.037-0.16935-13.004-0.69488 13.939 1.6643-12.802-2.3863 13.603 3.4695-12.381-4.0369 13.033 5.2153-11.748-5.6183 12.241 6.8719-10.914-7.1037 11.239 8.4109-9.8936-8.4675 10.045 9.806-8.7038-9.6865 8.6796 11.033-7.365-10.74 7.1652 12.072-5.9001-11.609 5.5282 12.904-4.3344-12.28 3.7966 13.515-2.6944-12.741 2.0001 13.895-1.0084-12.983 0.16935 14.037 0.69488-13.004-1.6643 13.939 2.3863-12.802-3.4695 13.603 4.0369-12.381-5.2153 13.033 5.6183-11.748-6.8719 12.241 7.1037-10.914-8.4109 11.239 8.4675-9.8936-9.8059 10.045 9.6865-8.7038-11.033 8.6796 10.74-7.365-12.072 7.1652 11.609-5.9001-12.904 5.5282z" color="#000000" fill="none" stroke="#910003" stroke-opacity=".85859" stroke-width=".05016" style="paint-order:normal"/>
      //-     <flowRoot transform="matrix(.26458 0 0 .26458 36.64 130.15)" fill="#000000" font-family="sans-serif" font-size="40px" letter-spacing="0px" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><flowRegion><rect x="33.915" y="30.233" width="26.744" height="40.31"/></flowRegion><flowPara>sss</flowPara></flowRoot>
      //-   </g>
      //- </svg>

    //- button(class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation")
    button(class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#side-nav" aria-controls="side-nav")
      <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-list-nested" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
        <path fill-rule="evenodd" d="M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z"/>
      </svg>
      //- <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-menu-down" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
      //-   <path d="M7.646.146a.5.5 0 0 1 .708 0L10.207 2H14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3.793L7.646.146zM1 7v3h14V7H1zm14-1V4a1 1 0 0 0-1-1h-3.793a1 1 0 0 1-.707-.293L8 1.207l-1.5 1.5A1 1 0 0 1 5.793 3H2a1 1 0 0 0-1 1v2h14zm0 5H1v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zM2 4.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
      //- </svg>

    div(id="nav-menu" class="collapse navbar-collapse justify-content-end text-center")
      ul(class="navbar-nav")
        li.nav-item
          a(class="nav-link header-link" href="/") Home
        li.nav-item
          a(class="nav-link header-link" href="#services") Services
        li.nav-item
          a(class="nav-link header-link" href="#projects") Portfolio
        li.nav-item
          a(class="nav-link header-link" href="#contact") Contact
