mixin testimonialCard(testimonials)
  
  .container
    each testimonial, index in testimonials
      //- div #{index} #{testimonial.author} #{index==0}
      if index==0
        div(class="carousel-item text-center active")
          div(class="card-body")
            q(class="card-text text-muted")= testimonial.comment
            p(class="card-title title text-primary") - #{testimonial.author}
            
      else
        div(class="carousel-item text-center")
          div(class="card-body")
            q(class="card-text text-muted")= testimonial.comment
            p(class="card-title title text-primary") - #{testimonial.author}
            